extends layout

block content
    div#header
        span.title Backbone Cellar

    div#sidebar

    div#content
        h2 Welcome to Backbone Cellar
        p This is a sample application part of of three-part tutorial showing how to build a CRUD application with Backbone.js.
